body {
    padding: 0;
    margin: 0;
    background-color: rgb(125, 210, 233);
    font-size: 2vh;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    animation-duration: 2ms;
    color: rgb(20, 27, 213);
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
.navbar{
    color: blue;
}

.kigali img {

    height: 70vh;
    width: 200vh;
    object-fit: cover;
}


img:hover {
    transform: scaleX(-1);
}
    
p {
    padding: 1px;
    margin-top: 2px;
}

.register {
    display: inline-block;
    width: 70vh;
    height: auto;
}

.modal-content {
    background-color: rgb(137, 137, 219);
}

.container mt-5rd {
    background-color: blue;
}

.image-container {
    width: 100%;
    display: block;
}

.image-container .card {
    width: 40vh;
    /* height: 10vh; */
    display: inline-flex;
    /* background-color: rgb(147, 147, 228); */
    min-height: 80vh;
    position: relative;
}
.card{
    color: blue;
    /* background-color: gray; */
}

.card .bottom {
    position: absolute;
    bottom: 0;
}

.card .price {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    font-size: 1.25rem;
}

.card a {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    padding: 0.25rem;
    text-align: justify;
}

.card h1 {
    font-size: 1.5rem;
}

button {
    background-color: rgb(135, 135, 217);
}

/* .mb-3 {
    background-color: rgb(165, 228, 180);
} */



table {
    padding: auto;
    margin: 1px;

}

.card .card-header {
    background-color: rgb(118, 118, 221);
}
.login{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    align-items: center;
}
.login .card{
    width: 40vw;
    
}
.card-login{
    color: blue;
    background-color: gray;
    width: 40vw;
}
.card-header {
    background-color: gray;
    display: flex;
    justify-content: center;
}
.checkout{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
}
.table{
    display: flex;
    justify-content: center;
}
