body{
    padding: 0;
    margin: 0;
}
 img{
    display: inline;
    height: 50vh;
    max-width: 100vh;
    }
p{
    padding: 1px;
    margin-top: 2px;
}
.register{
    display: inline-block;
}
.modal-content{
    background-color: rgb(137, 137, 219);
}
.container mt-5rd{
    background-color: blue;
}
.card{
    width: 65vh;
    height: 10vh;
    display: inline-block;
  
}
button{
    background-color: rgb(135, 135, 217);
}

.mb-3{
    background-color: rgb(165, 228, 180);
}
.card-header{
    background-color: blue;
}

table{
    padding: auto;
    margin: 1px;
    
}